img {
    box-sizing: border-box;
  margin: 6px;
  padding: 5px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 2px solid rgba(128, 128, 128, 0.188);
  border-radius: 5px;
}
.gallery {
  text-align: center;
}
